@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body{
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: #2c3e50;
  color: #ecf0f1;
}

h1 {
  font-size: 50px;
  text-shadow: 0  5px #000;
}

#button {
  height: 130px;
  width: 300px;
  margin: 0 auto;
}

#button div {
  position: absolute;
  transition:all .2s;
}

#floor {
  height: 50px;
  width: 300px;
  background: #34495e;
  border-radius: 50%;
  margin-top: 80px;
  z-index: -1;
}

#top {
  background: #e74c3c;
  height: 40px;
  width: 250px;
  border-radius: 50%;
  z-index:1;
  margin-left: 25px;
}

#bottom {
  background: #c0392b;
  height: 40px;
  width: 250px;
  border-radius: 50%;
  margin-top: 80px;
  margin-left: 25px;
}

#body {
  background: #c0392b;
  width: 250px;
  border-radius: 0;
  margin-left: 25px;
}

.body {
  height: 80px;
  margin-top: 20px;
}

#button:hover {
  cursor: pointer;
}

.top-click {
  margin-top: 40px;
} 

.body-click  {
  height: 40px;
  margin-top: 60px;
} 

#button:hover #floor{
 background: #95a5a6;
} 

@-webkit-keyframes pulse-bg  
{
0% {background-color: #ff2d2d;} 
100% {background-color: #2c3e50;}
}

.pulse-bg {-webkit-animation: pulse-bg 0.5s infinite; }